<h2>About Us</h2>
<div class='main_img'>
    <img src='images/baker.jpg' alt='baker removing tray of muffins from oven'>
    <p>Photo by Taylor Grote on Unsplash</p>
</div>
<p>
    We are a small local bakery that uses local, organic, ethically sourced
    ingredients. Our goods are all baked fresh daily and we have a rotating
    menu, stop by and try sample some of our treats!
</p>
