<h2>About Us</h2>
<p>
    We are a small local bakery that uses local, organic, ethically sourced
    ingredients. Our goods are all baked fresh daily and we have a rotating
    menu, stop by and try sample some of our treats!
</p>
