<h1>Current Bakery Inventory</h1>
<div class="inventory">
    <ul class="product_description">
    <% $bakery.cakes.each do |key, value| %>
        <li>cake <%= value.flavor %> </li>
    <% end %>
    <% $bakery.cookies.each do |key, value| %>
        <li>cookie <%= value.flavor %> </li>
    <% end %>
    <% $bakery.muffins.each do |key, value| %>
        <li>muffin <%= value.flavor %> </li>
    <% end %>
    </ul>
</div>
