<form class="col s12" action='/email' method='POST'>
    <h4>JOIN OUR MAILING LIST!</h4>
    <p>Get updates on our tasty offerings and sweet deals delivered to your inbox!</p>
    <div class="row">
        <div class="input-field col s12">
            <input name="email" type="email" class="validate">
            <label for="email">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">ex: your_name@email.com</span>
        </div>
    </div>
</form>
