<!DOCTYPE html5>
<html>
    <head>
        <link rel="stylesheet" href="<%= url("/main.css") %>">
    </head>
    <body>
        <div class='container'>
            <div class='header'>
                <a href='#' class='logo'>Bakery Logo</a>
                <ul>
                    <li><a href='/about'>ABOUT</a></li>
                    <li><a href='#'>MENU</a></li>
                    <li><a href='/visit'>VISIT</a></li>
                </ul>
            </div>
            <div class='content'>
                <%= yield %>
            </div>
            <div class='footer'>
                <div class='more_links'>
                    <ul>
                        <li><a href='/about'>ABOUT</a></li>
                        <li><a href='/menu'>MENU</a></li>
                        <li><a href='/visit'>VISIT</a></li>
                        <li><a href='/admin'>ADMIN</a></li>
                    </ul>
                </div>
                <div class='copyright'>
                    <p>Copyright Bakery 2018</p>
                </div>
                <div class='social_links'>
                    <ul>
                        <li><a href='www.yelp.com'>Y</a></li>
                        <li><a href='www.facebook.com'>F</a></li>
                        <li><a href='www.instagram.com'>I</a></li>
                        <li><a href='www.pinterest.com'>P</a></li>
                        <li><a href='www.twitter.com'>T</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
