<div class='content'>
    <div class='jumbotron'>
        <h1>Featured Items</h1>
    </div>
    <div class='menu_items'>
        <div class='item'>item one</div>
        <div class='item'>item two</div>
        <div class='item'>item three</div>
    </div>
</div>
