<% @item_list.each do |key, value| %>
    <div class="item">
        <ul class="product_description">
            <li><%= value.description %></li>
            <li>allergens:<%= value.allergens %></li>
            <li><%= value.price %></li>
        </ul>
    </div>
<% end %>

