<div class='full_menu'>
    <div class="item">
        <a href='/cakes'>
            <img src="/images/cake.jpg">
            <h3>CAKES</h3>
        </a>
    </div>
    
    <div class="item">
        <a href='/cookies'>
            <img src="/images/cookies.jpg">
            <h3>COOKIES</h3>
        </a>
    </div>
    
    <div class="item">
        <a href='/muffins'>
            <img src="/images/muffins.jpg">
            <h3>MUFFINS</h3>
        </a>
    </div>
</div>
